{# variables:
    footer.logoUrl
    footer.credits
#}

<footer id="layout-footer">
    <div id="layout-footer-row">
        <div class="flex-cell centered">coluna 1</div>
        <div class="flex-cell flex-grow-column centered">coluna 2</div>
        {# <div class="flex-cell centered"><img src={{ footer.logoUrl }} /></div> #}
    </div>
    <div class="flex-cell flex-grow-column">
        <p id="footer-copyright">{{ footer.credits|raw }}</p>
    </div>
</footer>
